.botao-add {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.botao-delete {
    padding: 10px 20px;
    background-color: white;
    color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    border: 1px solid red;
    border-radius: 6px;
    margin-left: 20px;
    margin-top: 20px;
}

.container-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

textarea {
    width: 100%;
    box-sizing: border-box;
}

.input-group input,
textarea:focus {
    border-color: #3c83f6;
}

.input-group {
    margin-bottom: 1rem;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-size: 0.9rem;
}

.input-group input,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s;
}

.input-group input,
textarea:focus {
    border-color: #3c83f6;
}

.login-button {
    width: 100%;
    padding: 12px;
    background: #3c83f6;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 1rem;
    margin-left: 10px;
}

.cancel-button {
    width: 100%;
    padding: 12px;
    background: white;
    border: 1px solid gray;
    border-radius: 8px;
    color: grey;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 1rem;
    margin-right: 10px;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: space-between;

}

.card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 24px;
    width: 260px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 10px;
}

p {
    border: 0.6px solid #3498db;
    border-radius: 15px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    font-family: sans-serif;
    background-color: #3498db;
}



.status-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}


.combo-status {
    width: 250px;
    padding: 10px 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    font-size: 16px;
    color: #444;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 18px;
}


.combo-status:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}


option {
    padding: 10px;
}